/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.modal-submit-button{
	display:flex;
	justify-content: center;
	border-top: 1px solid #B3B3B3;
}

.nav-modale-buttons:hover{
	background-color:unset;
	color: grey;
	transition:0.1s;
}


.nav-modale-buttons{
	height: 30px;
	width: 30px;
    font-size: 1.5em;
	line-height: 4px;
	min-width: 0px;
    color: #000000;
	padding:0px;
    text-align: center;
    border-radius: 60px;
    border: none;
}

.admin-header-layout span{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 18.77px;
	font-weight: 400px;
}

#btn-publish:hover{
	background-color:#428276;
}

#btn-publish{
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #000000;
	border:none;
	
}

.admin-header-layout{
	background-color: #000000;
	width:100%;
	height: 59px;
	margin:0px;
	display:flex;
	justify-content: center;
    align-items: center;
	gap:10px;
}

.editbutton{
	color: #000000;
	text-decoration: none;
	font-family: 'Work Sans';
}

.edit-image{
	position : relative;
	width: 84px;
	height: 18px;
	left: 57px;
	top: 3px;
}

.edit-intro{
	position : relative;
	width: 84px;
	height: 18px;
	left: 0px;
	top: -20px;
}

.js-modal{
	position : relative;
	width: 84px;
	height: 18px;
	left: 695px;
	top: -60px;

}

#output{
	max-height: 169px;
	max-width: 100%;
}

.modale-nav-add{
	display:flex;
	justify-content: flex-end;
    width: 100%;
}

.container-label-modale i{
	font-size: 60px;
	color:#B9C5CC;
	margin-bottom: 20px;
}

.container-label-modale{
	width: 100%;
	height: 169px;
	border-radius: 3px;
	background-color: #E8F1F7 ;
	display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.form-new-project{
	font-weight:bold;
	width:100%;
	gap:40px;
	display:inline-flex;
	flex-direction: column;
}

.modal-category-input{
	margin-bottom: 25px;
}

.modal-input{
	box-sizing: border-box;
	width:100%;
	height: 50px;
    padding-left: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 9%);
	margin-top:10px;
}

.container { position: relative; }

.container img { display: block; }

.container .btn-delete { position: absolute; left: 63%; bottom: 71%; }

.modal-main{
	display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background-color: #FFF;
    border-radius: 10px;
}

.btn-delete{
	margin-bottom : 0px;
	height: 25px;
	width : 25px;
	min-width: 0px;
	font-size: 12px;
	font-family: 'Syne';
	font-weight: 700;
	background-color: black;
	color: white;
	margin: 0px;
	padding : 0px;
	text-align: center;
	border-radius: 4px;
	border: 0px;
}

.delete-all-gallery{
	color:#D65353;
	margin-bottom : 40px;
}

.add-photo-modal{
	width:50%;
	margin:30px;
}

.go-to-add-modal:hover{
	transition: 0.1s;
	background-color: #428276;
}

.go-to-add-modal{
	width : 40%;
	margin-top: 38px;
	margin-bottom: 23px;
	color: white;
	background-color: #1D6154;
}

.modal-add-project{
    flex-direction: column;
    width: 80%;
	align-items:center;
}

.js-modal-close{
	margin-bottom: 0px;
}

.projetsModale{
	display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	gap : 17px;
	width : 80%;
	border-bottom : 1px solid #B3B3B3;
	padding-bottom : 67px;
}

.modal img {
	width : 100%;
}

.buttons {
	display: flex;
	justify-content: center;
	margin : 10px;
	margin-bottom: 51px;
	gap:16px;
}
.title-modale-main{
	font-size:26px;
}

.title-modale-main{
	margin-bottom:46px;
}

.title-modale-add-project{
	margin-bottom:36px;
	font-size: 26px;
}

.restriction-add-project{
	font-size: 10px;
	font-weight: lighter;
}
.add-file:hover{
	background-color:#B9C5CC;
	transition: 0.1s;
}


.add-file{
	font-size: 14px;
	width: 173px;
	height: 36px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 20px;
	background-color:#CBD6DC;
	color:#306685;
	margin-bottom:7px;
}

.modal-wrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	width : 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding : 20px;
	background-color : #FFF;
	border-radius: 10px;
}

.modal {
	display:flex;
	align-items: center;
	justify-content: center;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : rgba(0, 0, 0, 0.8);
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin-bottom: 100px;
	margin-top: 50px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a{
	color: #000000;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 40px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login{
	width: 50%;
margin: auto;
}
#contact > *, #login > *{
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label{
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login a{
	text-align: center;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="file"]{
	display: none;
}

#file-label{
	color:#B9C5CC;
	width:100%;

}

button{
	height: auto;
	font-size: 1em;
	font-family: 'Syne';
	font-weight: 700;
	background-color: white;
	color: #1D6154;
	min-width: 100px;
	padding-left : 14px;
	padding-right : 15px;
	padding-bottom: 9px;
	padding-top: 9px;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
}

button:hover{
	background-color: #1D6154;
	color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

